<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            &copy; {{ now.Format "2006"}} {{ .Site.Params.copyright }} All Rights Reserved
            <div class="text-secondary">
                <a href="{{ .Site.Params.registrationUrl }}" target="_blank"
                    title="Deific Registration Certificate">
                Deific Registration Certificate
                </a>
                <span class="text-danger">
                    &#10084;
                </span>        
                <a href="{{ .Site.Params.copyrightUrl }}" target="_blank"
                    title="Deific Trademark">
                    Deific Trademark
                </a>
            </div>
        </div>
    </div>
</div>